@model GamesListingViewModel
@{
    ViewData["Title"] = "Games";
}
<h2>@ViewData["Title"]</h2>

<ul class="list-group" align="center">
    @foreach (var game in Model.Games)
    {
        <li class="list-group-item">
            <img src="@game.GameImageUrl" style="width:250px;height:160px;" />
            <h2>@game.Name</h2>
            <h3>Developer - @game.Developer</h3>
            <p><a href="@game.GameWebsite">Website</a></p>
        </li>
    }
</ul>