@model TeamDetailsViewModel
@{
    ViewData["Title"] = Model.Team.Name;
}
<h2>@ViewData["Title"] - Team Members: @Model.Team.Players.Count()</h2>
<img src="~/images/@Model.Team.Image" style="width:150px;height:140px" />
<h4>Captain - @Model.Team.Captain</h4>
<h3>Players:</h3>
@foreach (var player in Model.Team.Players)
{
    <h3>[@Model.Team.Tag] @player</h3>
}

<h3>Tournaments Won - @Model.Team.TournamentsWon</h3>
@if (User.Identity.IsAuthenticated)
{
    if (Model.UserIsInTeam)
    {
        <form asp-action="Leave" asp-route-id="@Model.Team.Id" method="post">
            <input type="submit" class="btn btn-primary" value="Leave Team" />
        </form>
    }
    else
    {
        <form asp-action="Join" asp-route-id="@Model.Team.Id" method="post">
            <input type="submit" class="btn btn-primary" value="Join Team" />
        </form>
    }
}
else
{
    <span>To joing this team, please <a asp-controller="Account" asp-action="Login">login</a> into your account.</span>
}