@model TeamListingViewModel
@{
    ViewData["Title"] = "Teams";
}
<h2>@ViewData["Title"]</h2>

<ul class="list-group" align="center">
    @foreach (var team in Model.Teams)
    {
        <li class="list-group-item">
            <img src="~/images/@team.Image" style="width:350px;height:260px;" />
            <a asp-action="Details" asp-route-id="@team.Id">
                <h1>
                    @team.Name
                </h1>
            </a>
            <br />
        </li>
    }
</ul>
@if (Model.TotalTeams >= Model.Teams.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.PreviousPage"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.NextPage"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}
